// sass变量
$primary-color: #F15B5A;  // 主色
$blue-color: #3A72EF;     // 蓝色
$yellow-color: #FAC424;   // 黄色
$title-color: #2D2F46;    // 标题色
$content-color: #81849F;  // 正文字色
$remark-color: #B2B4C6;   // 备注色
$border-color: #EBEBEB;   // 描边色
$bg-color: #F7F6F8;       // 背景色
$assist-color: #FCFCFC;   // 模块辅助色
